<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-med-6 text-center">
                    <h2 class="section-heading">Mission</h2>
                    <h3 class="section-subheading text-muted">Engaging and accessible history</h3>
                    <p class="large">Our mission is to harness innovative digital technologies and digital design to illuminate the rich history of New Mexico. We empower scholars, educators, and communities to create immersive, interactive archives and storytelling experiences that invite critical engagement with core humanities issues. Through collaborative projects, open-access resources, and experimental digital platforms, we aim to bridge academic research with public discourse, fostering a deeper, more inclusive understanding of the human condition.</p>

                </div>
            </div>

        </div>
    </section>