<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We can help with</h2>
                    <h3 class="section-subheading text-muted">lots of fun stuff.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                   <img style="width:150px" src="{{site.baseurl}}/img/3d-printer.png"/>
                    <h4 class="service-heading">3D printing</h4>
                    <p class="text-muted">Populate the world with digital surrogates.</p>
                </div>
                <div class="col-md-4">
                    <img style="width:150px" src="{{site.baseurl}}/img/printing.png"/>
                    <h4 class="service-heading">Poster printing</h4>
                    <p class="text-muted">Expand minds, skills, and paper sizes with poster assignments.</p>
                </div>
                <div class="col-md-4">
                    <img style="width:150px" src="{{site.baseurl}}/img/responsive-design.png"/>
                    <h4 class="service-heading">Engaging Storytelling</h4>
                    <p class="text-muted"><a href="https://fredgibbs.net/xanthan/samples/bg-scrollbox">Engage your readers with sharp, sustainable, and succulent digital essays.</a></p>
                </div>
            </div>
        
            <div class="row text-center" style="margin-top:4em;">
                <div class="col-md-4">
                    <img style="width:150px" src="{{site.baseurl}}/img/virtual-tour.png"/>
                    <h4 class="service-heading">Virtual tours</h4>
                    <p class="text-muted">Use 360-degree cameras for historical tours and annotations.</p>
                </div>
                <div class="col-md-4">
                   <img style="width:150px" src="{{site.baseurl}}/img/microphone.png"/>
                    <h4 class="service-heading">Microphones and sound editing</h4>
                    <p class="text-muted">Good mics for sharp podcasts.</p>
                </div>
                <div class="col-md-4">
                    <img style="width:150px" src="{{site.baseurl}}/img/scanner.png"/>
                    <h4 class="service-heading">Book scanning</h4>
                    <p class="text-muted">High-res no touch imaging for tricky reproductions.</p>
                </div>
            </div>

        
        
        </div>

    </section>

