<!-- About Section -->
    <section id="vision" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-med-6 text-center">
                    <h2 class="section-heading">Vision</h2>
                    <h3 class="section-subheading text-muted">Foregrounding the past for the future</h3>
                    <p class="large">We envision a future where humanities scholarship is at the heart of digital transformation, making it accessible, dynamic, and globally resonant. Our studio strives to be a pioneering hub where humanistic inquiry, technology, and design converge—cultivating an environment that not only preserves but also reimagines the narratives that define our shared heritage. By breaking down traditional barriers to knowledge and sparking interdisciplinary conversations, we aspire foreground the stories that shape our world.</p>

                </div>
            </div>
        </div>
    </section>